#wrapper {
    display: flex;
    margin-top: 30px;
  }
  
  #wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
  }
  
  #wrapper #content-wrapper #content {
    flex: 1 0 auto;
  }
  input.ng-invalid.ng-touched{
      border: 1px solid red;
  }
  .loading,.Error{
    margin-top: 20px;
    text-align: center;
}