<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand title">SERVICE MANAGEMENT SYSTEM</a>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" role="presentation" [routerLink]="['/all-service']" 
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              Home</a>
          </li>
          <li>
            <a class="nav-link" role="presentation" 
            [routerLink]="['/add-service']" 
            routerLinkActive="active"
            >Add Service</a>
          </li>
      </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>